// Global styles
  

body {
    background-color: $white;
    //font-family: $site-font;
}
h1,h2,h3,h4 {
    font-weight: 600;
}
ul {
    list-style: none;
    padding: 0;
}

.header-con {
    position: fixed;
    z-index: 99;
    width: 100%;

    background-color: rgba(255,255,255,1);
}
@media only screen and (min-width: 768px) {
    .header-con {
        background-color: rgba(255,255,255,0.75);
    }
}

#content {
    padding-top: 100px;
    min-height: 93vh;
}

.nav-link {
    text-decoration: none;
}

.copyright-text {
    font-size: 0.75em;
}

.text-pink {
    color:#d07e91;
}