//Blog Index page styles


.blogListPost {
    flex: 0 0 100%;
    max-width: 100%;
}

@media only screen and (min-width: 992px) {
    .blogListPost {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        flex: 0 0 50%;
        max-width: 100%;

        &:first-child {
            flex: 0 0 100%;
        }
    }
}

.blogListPostImg {
    max-height: 350px;
}