//Blog post page styles

.blogBannerCon {
    display: grid;
}

.blogBannerImg {
    z-index: 88;
    grid-area: 1/1/2/2;
}

.blogBannerText {
    z-index: 89;
    grid-area: 1/1/2/2;
}

@media only screen and (min-width: 576px) {
    .blogBannerImg {
        max-height: 460px;
    }
}

@media only screen and (min-width: 768px) {
    .direction-btns-text {
        font-size: 1.25em;
    }
    
    .direction-btns-icons {
        font-size: 1.25em;
    }
}