//Site variables

//@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$black: #333;
$light-gray: rgb(240, 240, 240);
$dark-gray: rgb(80, 80, 80);
$white: white;

$pink: #d07e91;

$header-font: 'Playfair Display', serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
